 
/*div {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*/

button {
  font-size: 25px;
  padding: 50px, 60px;
  background: rgb(235, 136, 197);
  color: aliceblue;
  border: 2px solid rgb(255, 255, 255);
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}  
#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}
/* Form{
     float: left;
     display: block;
} */
